body {
    margin: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    bottom: 20px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 80px;
    margin-bottom: 40px;
    width: 160px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 4px;
    margin-top: 8px;
}



#buttons {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    width: 260px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Arial', sans-serif;
}

#buttons a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: right;
   
}

#buttons a:last-child {
    border: none;
}

#buttons a:hover {
    background-color: #f8f8f8; 
    color: #404040;
}

#mapformat {
position: absolute;
right:10px;
top:10px;
background: #efefef;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}


